.noDataCard{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    background-color: rgba(194, 43, 43,0.6);
    width: 90%;
    margin: 0 auto;
}