.chartContainer{
    width:91%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(192, 179, 167, 0.8);
    margin: 10px auto;
    height: 170px;
    border-radius: 10px;
    position: relative;
}
.monthDataContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.valueDiv {
    font-family: monospace;
    font-weight: bold;
    margin: 5px 0px;
    font-size: 14px;
    color:rgba(10,10,10,0.7)
}

.chart__inner{
    border: 2px solid rgba(10,10,10,0.6);
    width:11px;
    border-radius: 10px;
    height: 100px;

    position: relative;
    
}

.chart__inner > .chart__fill {
    position: absolute;
    bottom:0%;
    width:100%;
    background-color: rgb(227, 32, 32) ;
    border-radius:  10px 10px;
}

.labelDiv{
    font-family: monospace;
    font-weight: bold;
    margin: 5px 0px;
    font-size: 14px;
}