.extraInfoContainer{
    background-color: rgba(215, 109, 15, 0.9);
    width: 46%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    color: white;
    font-weight: bold;
}