.expenseContainer{
    display: flex;
    flex-direction: row;
    width:90%;
    border-radius: 8px;
    background-color: chocolate;
    justify-content: space-around;
    margin: 10px auto;
    padding: 10px 5px;
}

.expense{
    border-radius: 8px;
    background-color: rgba(200,200,200, 0.7);
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* .descri{
    color:rgba(10,130,140,0.8);
    font-weight: lighter;
    align-self: center;
} */




