.expenseDateContainer{

    background-color: rgba(238, 235, 235, 0.9);
    justify-content: center;
    align-items: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    width: 100px;
}
.dateDes{
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 22px;
    margin-bottom: 5px;
    background-color: rgba(200,200,200,0.5);
    border-radius: 10px;
}